# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.tmp

# Environment
.env
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# Logs
*.log

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
